.superhero {
  background-color: #f1f1f1;
  padding: 15px;
}

:global(h2) {
  text-align: center;
}

.superhero img {
  width: 10vw;
  margin: 0 auto 15px auto;
  display: block;
  border-radius: 50%;
  height: 10vw;
  object-fit: cover;
}

.favoriteSuperhero {
  background-color: #fde8e9;
}
